backend:
  name: git-gateway
  branch: master

media_folder: src/content/img
public_folder: src/content/img

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    editor:
     preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Layout", name: "layout", widget: "string" ,default: "post"}
      - { label: "Auther", name: "author", widget: "string" ,default: "Masaharu Inoue"}
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - {label: "Draft", name: "draft", widget: "boolean", default: false}
      - label: "Tags"
        name: "tags"
        widget: "list"
        default: ["Etc"]

      - label: "Image"
        name: "image"
        widget: "image"
        default: "img/callum-shaw-555357-unsplash.jpg"
        media_library:
          config:
            multiple: true
      - { label: "Body", name: "body", widget: "markdown" }